In [14]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np


ad_birth_path = "./data/adolescentBirthRate.csv" 
skilled_attender_path = "./data/birthAttendedBySkilledPersonal.csv" 
IMR_path = "./data/infantMortalityRate.csv" 
neonatal_path = "./data/neonatalMortalityRate.csv" 
u5_mortality_path = "./data/under5MortalityRate.csv"

In [15]:
u5_mortality_rates_df = pd.read_csv(u5_mortality_path, encoding = "utf-8")
IMR_df = pd.read_csv(IMR_path, encoding = "utf-8")
neonatal_df = pd.read_csv(neonatal_path, encoding = "utf-8")
skilled_attender_path = pd.read_csv(skilled_attender_path, encoding = "utf-8")
ad_birth_path = pd.read_csv(ad_birth_path, encoding = "utf-8")

In [18]:
neonatal_df

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Neonatal mortality rate (per 1000 live births),Both sexes,35.86 [27.77-45.18]
1,Afghanistan,2018,Neonatal mortality rate (per 1000 live births),Both sexes,36.89 [29.34-45.28]
2,Afghanistan,2017,Neonatal mortality rate (per 1000 live births),Both sexes,37.98 [30.95-45.6]
3,Afghanistan,2016,Neonatal mortality rate (per 1000 live births),Both sexes,39.05 [32.59-46.17]
4,Afghanistan,2015,Neonatal mortality rate (per 1000 live births),Both sexes,40.27 [34.34-46.94]
...,...,...,...,...,...
9130,Zimbabwe,1969,Neonatal mortality rate (per 1000 live births),Both sexes,31.66 [26.63-37.36]
9131,Zimbabwe,1968,Neonatal mortality rate (per 1000 live births),Both sexes,31.67 [26.41-37.75]
9132,Zimbabwe,1967,Neonatal mortality rate (per 1000 live births),Both sexes,31.76 [26.17-38.31]
9133,Zimbabwe,1966,Neonatal mortality rate (per 1000 live births),Both sexes,31.96 [25.96-39.16]
9134,Zimbabwe,1965,Neonatal mortality rate (per 1000 live births),Both sexes,32.38 [25.6-40.27]

ValueError: Cannot specify ',' with 's'.